*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: "Inter", serif;
    background-color: white;
    font-family: "Inter", serif;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5em;
}
#header
{
    display: flex;
    justify-content: center;
    align-items: center;
}


main
{
    align-self: center;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#back
{
    margin: 1em;
    width: 100px;
    height: 30px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: black;
    border: 1px solid black;
    text-decoration: none;
    transition: 0.25s;
}

#back:hover
{
    background-color: black;
    color: white;
}

